<%- include ('./layouts/main.ejs') -%>

<div class="container" >
  <nav>
    <div class="nav-wrapper" id="caja">
      <img src="../images/cubo blanco.png" class="imagen" alt="">
      <a href="#!" class="brand-logo" id="text">Encuesta de Salud </a>
    </div>
  </nav> 
  

  <div class="row">
  <div class="col s12 ">
    <div class="card-panel">
      <div class="row">
        <div class="input-field col s12">
        <p class="flow-text" style="color: black">Los datos han sido enviados correctamente </p>
        </div>
      </div> 
    </div>
    </div>
    </div>
    <center>
      <a href="http://localhost:8080/" class="waves-effect waves-light btn-large" style="background-color: #c40c0c">Inicio</a>
      <a href="http://localhost:8080/Oximetria.html" class="waves-effect waves-light btn-large" style="background-color: #c40c0c">Volver</a>
      </center>
</div>
</div>