<%- include ('./layouts/main.ejs') -%>

  <div class="container" >
   

    <nav >
      
      <div class="nav-wrapper" id="caja">
      <img src="./images/cubo blanco.png" class="imagen" alt="">
        <a href="#!" class="brand-logo" id="text"  >Encuesta de salud</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        
      </div>
    </nav>

    <br>


    <p>hola <%-documento%></p>


    
   