<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oximetria</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="./images/cubo rojo.ico" type="image/x-icon">
</head>
<body style="background-color: #eee; ">
    <div class="container" >
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
          });
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
        <nav>
          <div class="nav-wrapper"
          style="background-color: 	#c40c0c">
            <a href="#!" class="brand-logo"><i class="large
                              material-icons" ><img src="./images/cubo blanco.png" style="height: 70%; ; margin-top: 20%;" alt=""></i>Encuesta de Salud</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="http://localhost:8080/">Inicio</a></li>
              
            </ul>
          </div>
        </nav>
    
        <ul class="sidenav" id="mobile-demo">
          <li><a href="http://localhost:8080/">Inicio</a></li>
         
        </ul>
        <br>
    <div class="row">
        <form class="col s12" action="/routes/oximetria-route" method="POST">
            <div class="card-panel">
                <div class="row">
                  <div class="input-field col s12">
                    <input  pattern=".{3,}"  title="minimo 3 caracteres" id="documento" type="number" class="validate" name="documento" maxlength="15" required >
                    <label for="documento" style="color: grey;">Documento*</label>
                  </div>
                </div> 
              </div>
              <div class="card-panel">
          <div class="row">
            <div class="input-field col s6">
              <input  id="pulsacion" type="number" class="validate" step = "any" name="pulsacion" required>
              <label for="first_name">Pulsación</label>
            </div>
            <div class="input-field col s6">
              <input id="oxigenacion" type="number" class="validate" step = "any" name="oxigenacion" required>
              <label for="last_name">Oxigenación</label>
            </div>
            
          </div>
         
        </div>
         <center>
            <input class="waves-effect waves-light btn-large" type='submit' style="background-color: 	#c40c0c" onclick="return button()" value="Enviar"  data-target="#myModal" data-id="#" data-toggle="modal" href="#" >
            <p class="warnings" id="warnings"></p>                                        
          </center>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>
</html>