<!DOCTYPE html>
<html lang="es">
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% if (tiltle) { %>
    <title><%tiltle%></title>
  <% } else { %>
    <h1>Boohiss no myVar!</h1>
  <% } %></p>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" href="../images/cubo rojo.ico" type="image/x-icon">
  <link rel="stylesheet" href="../estilos/style.css" type="text/css">

</head>